@mixin bg($bgColor) {
  background-color: $bgColor;
}

@mixin text($textColor) {
  color: $textColor;
}

@mixin btn($bgColor, $textColor) {
  @include text($textColor);
  @include bg($bgColor);
}

@mixin btn-hover($bgColor, $textColor, $darkenPercent: 5%) {
  @include text($textColor);
  background-color: darken($bgColor, $darkenPercent);
}

@mixin link($textColor) {
  @include text($textColor);
}

@mixin link-hover($textColor, $darkenPercent: 5%) {
  color: darken($textColor, $darkenPercent);
}